DRONE_GITHUB_HOST=http://github.maeteno.com
DRONE_GITHUB_SECRET=0e87ef20683cdb645a769d625c3ca24ff37d290ad01c2e0c6b77644ded18c79b
DRONE_GITHUB_CLIENT=
DRONE_GITHUB_SECRET=

DRONE_CODING_HOST=http://coding.maeteno.com
DRONE_CODING_SECRET=fb56d3590c2266d24fee204e45c0b8ef5d59177f7c9c5b3bc26293a309a32dd8
DRONE_CODING_CLIENT=
DRONE_CODING_SECRET=
